body {
  background-color: #90d7ff;
  overflow: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

.menubar {

  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-bottom: solid;
  border-color: rgb(0, 0, 0);
  background-color: #3bb5ff;
  display:inline-block;
  float: left;
}

.contentBox {

  display: inline-block;
  margin-top: 0px;
  margin-left: 2%;
  overflow: hidden;
}

.slider {

  display: inline-block;
  overflow: hidden;
}

.testButton {
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}


.panel {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  position: absolute;
  float:left;
  display: inline-block;
  clear:bo.panel.th;
}

 .panel.img {
   display: block;
   clear:both;
 }

.panel:nth-child(1) {
  display: grid;


    /*  background-image:
        url('http://lorempixel.com/output/business-q-c-1000-500-10.jpg'); */
}

.panel:nth-child(2) {
  display:grid;
/*
      background-image:
        url('http://lorempixel.com/output/cats-q-c-1000-500-7.jpg');
        */
}

.panel:nth-child(3) {
  display: none;
/*
      background-image:
        url('http://lorempixel.com/output/technics-q-c-1000-500-7.jpg');
        */
}
