body {
  background-color: #90d7ff;
  overflow: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

.menubar {

  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
  background-color: #3bb5ff;
  display:inline-block;
  float: left;
  position: fixed;
}

.contentBox {

  display: inline-block;
  margin-top: 0px;
  margin-left: 10%;
  overflow: hidden;
}

.slider {
  display: inline-block;
  overflow: hidden;
}

.testButton {
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}


.panel {
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  float:left;
  clear:both;
  position: absolute;
  overflow: auto;
}

/*
overflow: auto;


*/

 .panel.img {
   display: block;
   clear:both;
 }
